<div class="admin-menu-content-management-cmpt a-content-management">
    <md-card>
        <div class="title">
            <i class="material-icons">menu</i>
            <h2>Menu</h2>
        </div>
        <div class="menu-content-management-actions a-content-actions">
            <button class="add-btn" md-raised-button>Dodaj nowa pozycje menu</button>
        </div>
        <div class="menu-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Nazwa menu</th>
                        <th>URL</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero menu</td>
                        <td>/hero.html</td>
                        <td class="center actions">
                            <button class="edit-btn" md-raised-button>Edytuj</button>
                            <button class="blank-btn" md-raised-button>Ukryj</button>
                            <button class="remove-btn" md-raised-button>Usun</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>