div{
    width: 100%;
    text-align: center;
}

ul{
    list-style: none;
}

ul li{
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

ul li i{
    font-size: 35px;
    cursor: pointer;
    transition: all 1s;
}

ul li.working span,
ul li .working.good,
ul li good.working:hover{
    color: #22bd44;
}

ul li.not-working span,
ul li .not-working.bad,
ul li .bad.not-working:hover{
    color: #e23237;
}
