<div class="admin-price-lists-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">import_contacts</i>
            <h2>Cenniki</h2>
        </div>
        <div class="price-lists-configuration-actions a-configuration-actions">
            <button class="add-btn" md-raised-button>Dodaj nowy cennik</button>
        </div>
        <div class="price-lists-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Waluta</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Detaliczna</td>
                        <td>PLN</td>
                        <td class="center actions">
                            <button class="edit-btn" md-raised-button>Edytuj</button>
                            <button class="remove-btn" md-raised-button>Usun</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>