<div class="complaints-cmpt">
<md-grid-list cols="1" rowHeight="1:1">
    <md-card class="card-table-wrapper">
      <h4 style="display: inline-block;"><i class="material-icons">autorenew</i>{{ 'complaints' | translate }}</h4>
        <table class="mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'complaint_no' | translate }}</th>
                    <th>{{ 'complaint_accepted' | translate }}</th>
                    <th>{{ 'complaint_closed' | translate }}</th>
                    <th>{{ 'product_name' | translate }}</th>
                    <th>{{ 'complaint_status' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1<span class="data-property">{{ 'complaint_no' | translate }}</span></td>
                    <td>01.01.2017<span class="data-property">{{ 'complaint_accepted' | translate }}</span></td>
                    <td>01.01.2017<span class="data-property">{{ 'complaint_closed' | translate }}</span></td>
                    <td>product 1 angular 4 b2b<span class="data-property">{{ 'product_name' | translate }}</span></td>
                    <td>sprawdzanie<span class="data-property">{{ 'complaint_status' | translate }}</span></td>
                </tr>
            </tbody>
        </table>
    </md-card>
</md-grid-list>
</div>