
<a md-button class="mdl-navigation__link" (click)="showCartClick()">
    <i class="material-icons" mdTooltip="Koszyk">shopping_cart</i>
</a>
<div class="cart-items-wrapper" [ngClass]="{'hide': showCart === false}" #cartItems>
    <ul id="cart-items" [ngClass]="{ 'empty': emptyCartInfo === true }">
        <li class="cart-info">
            <span *ngIf="emptyCartInfo">{{ 'empty_cart' | translate }}</span>
            <a *ngIf="!emptyCartInfo" md-button routerLink="/customer/cart" class="mat-raised-button cart-check">
                {{ 'check_cart' | translate }}
            </a>
        </li>
        <li *ngFor="let product of products">
            <a class="cart-product-link" [routerLink]="['/customer/product', product.productID]">
                <img src="../../../assets/images/angular_logo.png" width="50" alt="{{ 'image' | translate }}">
                {{product.name}} <span class="cart_product_qty">{{product.quantity}}</span>
            </a>
        </li>
    </ul>
</div>