<div class="order-cmpt">
    <md-card>
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <h4 style="display: inline-block;"><i class="material-icons">shopping_basket</i>{{ 'order' | translate }}</h4> 
        <table class="mdl-data-table" id="order-table">
            <thead>
                <tr>
                    <th>{{ 'image' | translate }}</th>
                    <th>Symbol</th>
                    <th>{{ 'product_name' | translate }}</th>
                    <th>{{ 'u_m' | translate }}</th>
                    <th>VAT</th>
                    <th *ngIf="settings?.show_retail_price.value == 'true'">{{ 'retail_price' | translate }}</th>
                    <th>{{ 'netto_price' | translate }}</th>
                    <th>{{ 'brutto_price' | translate }}</th>
                    <th *ngIf="settings?.show_discount.value == 'true'">{{ 'discount' | translate }}</th>
                    <th *ngIf="settings?.show_client_discount.value == 'true'">{{ 'client_discount' | translate }}</th>
                    <th>{{ 'quantity' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products;">
                <td><img src="../../../assets/images/angular_logo.png" class="product-image-preview" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">{{ 'image' | translate }}</span></td>
                <td>{{product.symbol}}<span class="data-property">symbol</span></td>
                <td class="product-name"><a [routerLink]="['/customer/product', product.productID]">{{product.name}}</a><span class="data-property">{{ 'product_name' | translate }}</span></td>
                <td>{{product.unitName}}<span class="data-property">{{ 'u_m' | translate }}</span></td>
                <td>{{product.vat}}%<span class="data-property">vat</span></td>
                <td *ngIf="settings?.show_retail_price.value == 'true'" class="product-price-base">{{product.priceBase}} zł<span class="data-property">{{ 'retail_price' | translate }}</span></td>
                <td class="product-price-netto">{{product.priceNetto}} zł<span class="data-property">{{ 'netto_price' | translate }}</span></td>
                <td class="product-price-brutto">{{product.priceBrutto}} zł<span class="data-property">{{ 'brutto_price' | translate }}</span></td>
                <td *ngIf="settings?.show_discount.value == 'true'">{{product.discount}}%<span class="data-property">{{ 'discount' | translate }}</span></td>
                <td *ngIf="settings?.show_client_discount.value == 'true'">{{product.discountInit}}%<span class="data-property">{{ 'client_discount' | translate }}</span></td>
                <td class="product-quantity">
                    {{product?.quantity}}
                    <span class="data-property">{{ 'quantity' | translate }}</span>
                </td>
                </tr>
            </tbody>
        </table>
        <div class="shipping-payments-wrapper">
            <md-card>
                <!--order-payments-shipping-component-->
                <!-- <order-payments-shipping></order-payments-shipping> -->
                <h4>{{ 'shipping_and_payments' | translate }}</h4>
                <div class="shipping">
                    <h6>{{ 'shipping_method' | translate }}</h6>
                    <md-radio-group>
                        <md-radio-button value="1" checked="true">Odbior osobisty</md-radio-button>
                        <md-radio-button value="2">Kurier</md-radio-button>
                    </md-radio-group>
                </div>
                <div class="payments">
                    <h6>{{ 'payment_method' | translate }}</h6>
                    <md-radio-group>
                        <md-radio-button value="1" checked="true">Ustalenia indywidualne</md-radio-button>
                        <md-radio-button value="2">PayU</md-radio-button>
                        <md-radio-button value="3">Indywidualne ustalenia</md-radio-button>
                    </md-radio-group>
                </div>
                <h4>{{ 'notes' | translate }}</h4>
                <md-input-container class="order-notes" name="order_notes">
                    <input mdInput #message maxlength="256">
                    <md-hint align="end">{{message.value.length}} / 256</md-hint>
                    <md-icon mdSuffix>mode_edit</md-icon>
                </md-input-container>
            </md-card>
            <md-card>
                <!--order-address-component-->
                <!-- <order-address></order-address> -->
                <h4>{{ 'address' | translate }}</h4>
                <i class="material-icons" mdTooltip="{{ 'choose_from_address_list' | translate }}" (click)="chooseContact()">import_contacts</i>
                <div class="order-address" #orderAddress>
                    <md-input-container>
                        <input mdInput placeholder="{{ 'street' | translate }}" type="text" class="order-contact-edit" name="order_street"ngModel required>
                        <md-error> {{ 'street_required' | translate }}</md-error>
                    </md-input-container> 
                    <md-input-container>
                        <input mdInput placeholder="{{ 'address_no' | translate }}" class="order-contact-edit" type="text" name="order_no"ngModel required>
                        <md-error>{{ 'address_no_required' | translate }}</md-error>
                    </md-input-container> 
                    <md-input-container>
                        <input mdInput placeholder="{{ 'address_no2' | translate }}" class="order-contact-edit" type="text" name="order_no2"ngModel required>
                        <md-error>{{ 'address_no_2_required' | translate }}</md-error>
                    </md-input-container> 
                    <md-input-container>
                        <input mdInput placeholder="{{ 'postal_code' | translate }}" class="order-contact-edit" type="text" name="order_postcode"ngModel required>
                        <md-error>{{ 'postal_code_required' | translate }}</md-error>
                    </md-input-container> 
                    <md-input-container>
                        <input mdInput placeholder="{{ 'city' | translate }}" class="order-contact-edit" type="text" name="order_city"ngModel required>
                        <md-error>{{ 'city_required' | translate }}</md-error>
                    </md-input-container> 
                </div>
                <div class="order-cmpt-actions">
                    <a class="remove-btn" [routerLink]="['/customer/dashboard']" md-raised-button>{{ 'cancel' | translate }}</a>
                    <button class="add-btn submit_order_btn" [disabled]="!f.form.valid" mdTooltip="{{ 'order_finalize' | translate }}" (click)="finalizeOrder()" md-raised-button>{{ 'order_confirm' | translate }}</button>
                </div>
                <p class="order_finalize_info" [ngClass]="!f.form.valid ? 'show': 'hide'">{{ 'order_finalize_info' | translate }}.</p>
            </md-card>
        </div>
    </form>
    </md-card>
</div>
