.mat-toolbar{
    background-color: #146dc5 !important;
    border-bottom: 1px solid #fff;
}

.mat-toolbar a,
.mat-toolbar i,
.mat-toolbar span{
    color: #fff;
}

a{
    color: #000;
}

h2,h2,h4,h5,h6, span, label{
    color: #000;
}

/*.mat-input-placeholder.mat-float{
    color: #fff;
}*/

.mat-input-placeholder.mat-empty{
    color: #000;
}

.mat-raised-button:not([disabled]):not(.edit-btn):not(.remove-btn):not(.blank-btn){
    background-color: #4caf50 !important;
    color: #fff;
}

.mat-raised-button:not(.blank-btn) span{
    color: #fff;
}

.dialog-message-content span,
.dialog-message-content p{
    color: #000;
}

#side-menu{
    background-color: #146dc5;
}

#side-menu a,
#side-menu a > span{
    color: #fff;
}

#cart-items{
    background-color: #fff;
}

#cart-items .cart-product-link{
    color: #000;
    text-decoration: none;
}

#cart-items .cart-info > span{
    color: #000;
}

.mdl-data-table a:hover,
#cart-items .cart-product-link:hover{
    color: #e23237;
}

.products-list-cmpt .pagination li{
    border-right: 1px solid #ccc;
}

.products-list-cmpt .pagination li:first-child{
    border-left: 1px solid #ccc;
}

/* admin */

/*admin-dashboard-cmpt --start*/

.admin-dashboard-cmpt a.link-card:not(.disabled):hover i,
.admin-dashboard-cmpt a.link-card:not(.disabled):hover{
    color: #146dc5;
}