body, main{
    background-color: #212121;
}

.mat-toolbar{
    background-color: #212121 !important;
    border-bottom: 1px solid #f44336;
}

.mat-card{
    background: #000;
    background-color: #212121 !important;
    color: #fff;
}

.mdl-data-table{
    color: #fff;
    border: 1px solid #f44336;
}

/*.mat-raised-button{
    background-color: #f44336 !important;
    color: #fff;
}*/

.mat-raised-button:not([disabled]):not(.edit-btn):not(.remove-btn):not(.blank-btn){
    background-color: #4caf50 !important;
    color: #fff;
}

.mat-input-placeholder.mat-float{
    color: #fff;
}

h2,h3,h4,h5,h6,p,a,span{
    color: #fff;
}

.dialog-message-content span,
.dialog-message-content p{
    color: #000;
}

#side-menu{
    border-right: 1px solid #f44336;
    border-bottom: 1px solid #f44336;
}

#cart-items{
    background-color: #212121;
    color: #fff;
}

.mdl-data-tablet a:hover{
    color: #f44336;
}

.products-list-cmpt .pagination li{
    border-right: 1px solid #f44336;
}

.products-list-cmpt .pagination li:first-child{
    border-left: 1px solid #f44336;
}