<div class="admin-newsletter-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">contact_mail</i>
            <h2>Ustawienia newslettera</h2>
        </div>
        <form novalidate>
            <div class="smpt-config">
                <h4>Ustawienia SMTP</h4>
                <md-input-container>
                    <input mdInput placeholder="Nazwa wyswietlana" type="text" name="smtp_name" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Adres email" type="text" name="smtp_email" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Nazwa lub adres IP serwera SMTP" type="text" name="smtp_name_ip" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Port serwera SMTP" type="number" name="smtp_port" value="444">
                </md-input-container> 
                 <md-input-container>
                    <input mdInput placeholder="Nazwa uzytkownika SMTP" type="text" name="smtp_username" value="hero@hero.com">
                </md-input-container> 
                 <md-input-container>
                    <input mdInput placeholder="Haslo uzytkownika SMTP" type="password" name="smtp_user_password">
                </md-input-container> 
                <md-checkbox>Korzystaj z bezpiecznego polaczenia SSL</md-checkbox>
            </div>
            <div class="general-configuration-actions a-configuration-actions">
                <button class="save-btn" md-raised-button>Zapisz</button>
            </div>
        </form>
    </md-card>
</div>