<div class="admin-shipping-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">local_shipping</i>
            <h2>Rodzaje wysylek</h2>
        </div>
        <div class="shipping-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Minimalna wartosc zamowienia</th>
                        <th>Maksymalna wartosc zamowienia</th>
                        <th>Cena brutto za wysylke</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Odbior osobisty</td>
                        <td>0</td>
                        <td>999</td>
                        <td>24,99zl</td>
                        <td class="center actions">
                            <button class="payments-btn" md-raised-button>Platnosci</button>
                            <button class="edit-btn" md-raised-button>Edytuj</button>
                            <button class="remove-btn" md-raised-button>Usun</button>
                            <button class="blank-btn" md-raised-button>Ustaw domyslna</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>