<div class="cart-list-cmpt">
  <md-card class="card-table-wrapper">
    <h4 style="display: inline-block;"><i class="material-icons">shopping_cart</i>{{ 'cart' | translate }}</h4> 
    <table class="mdl-data-table" id="cart-table">
      <thead>
        <tr>
          <th>{{ 'image' | translate }}</th>
          <th>Symbol</th>
          <th>{{ 'product_name' | translate }}</th>
          <th>{{ 'u_m' | translate }}</th>
          <th>VAT</th>
          <th *ngIf="settings?.show_retail_price.value == 'true'">{{ 'retail_price' | translate }}</th>
          <th>{{ 'netto_price' | translate }}</th>
          <th>{{ 'brutto_price' | translate }}</th>
          <th *ngIf="settings?.show_discount.value == 'true'">{{ 'discount' | translate }}</th>
          <th *ngIf="settings?.show_client_discount.value == 'true'">{{ 'client_discount' | translate }}</th>
          <th>{{ 'availability' | translate }}</th>
          <th>{{ 'quantity' | translate }}</th>
          <th class="center"><i class="material-icons">add_shopping_cart</i></th>
          <th class="center"><i class="material-icons">remove_circle_outline</i></th>
        </tr>
      </thead>
      <tbody>
        <tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products;" #productRow>
          <!--<td><img src="../../../assets/images/products/{{product.image}}.jpg" class="product-image-preview" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">{{ 'image' | translate }}</span></td>-->
          <td><img src="../../assets/images/angular_logo.png" class="product-image-preview-h" width="100" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">{{ 'image' | translate }}</span></td>
          <td>{{product.symbol}}<span class="data-property">symbol</span></td>
          <td class="product-name"><a [routerLink]="['/customer/product', product.productID]">{{product.name}}</a><span class="data-property">{{ 'product_name' | translate }}</span></td>
          <td>{{product.unitName}}<span class="data-property">{{ 'um' | translate }}</span></td>
          <td>{{product.vat}}% <span class="data-property">VAT</span></td>
          <td *ngIf="settings?.show_retail_price.value == 'true'" class="product-price-base">{{product.priceBase}} zł<span class="data-property">{{ 'retail_price' | translate }}</span></td>
          <td class="product-price-netto">{{product.priceNetto}} zł<span class="data-property">{{ 'netto_price' | translate }}</span></td>
          <td class="product-price-brutto">{{product.priceBrutto}} zł<span class="data-property">{{ 'brutto_price' | translate }}</span></td>
          <td *ngIf="settings?.show_discount.value == 'true'">{{product.discount}}%<span class="data-property">{{ 'discount' | translate }}</span></td>
          <td *ngIf="settings?.show_client_discount.value == 'true'">
            <md-input-container>
                <input mdInput class="product-discount" type="number" min="0" max="100" (change)="updatePrices(product, $event.target.value)" required value="{{product?.discountInit}}">
            </md-input-container>
            <span class="data-property">{{ 'client_discount' | translate }}</span>
          </td>
          <td class="product-availability" attr.data-id="{{product.productID}}">{{product.availability}}<span class="data-property">{{ 'availability' | translate }}</span></td>
          <td class="product-quantity">
            <md-input-container>
                <input mdInput type="number" min="1" #productQty (change)="updateCart(product, productQty, $event.target.value)" value="{{product?.quantity}}" required attr.data-id="{{product.productID}}">
            </md-input-container>
            <span class="data-property">{{ 'quantity' | translate }}</span>
          </td>
          <td class="add-round-actions">
            <table class="round-table">
                <tr>
                  <th class="round-name">OPAK.</th>
                  <td class="round-value">5</td>
                </tr>
            </table>
          </td>
          <td class="add-round-actions center">
            <button class="remove-btn" (click)="removeFromCart(product.productID)" md-raised-button>{{ 'remove' | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
      <div class="actions">
            <a md-button *ngIf="clearBtn" (click)="clearCart()" class="mdl-navigation__link remove-btn clear-cart-btn"><i class="material-icons" mdTooltip=" {{ 'clear_cart' | translate }}">remove_shopping_cart</i></a>
            <a md-raised-button routerLink="/customer/order" class="add-btn">{{ 'order' | translate }}</a>
      </div>
  </md-card>
</div>