<div class="admin-clients-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">group</i>
            <h2>Klienci</h2>
        </div>
        <form novalidate>
            <div class="clients-info">
                <md-checkbox>Stosuj indywidualne ceny</md-checkbox>
                <md-checkbox>Wyswietlaj dokumenty</md-checkbox>
                <md-checkbox>Uzywaj grup</md-checkbox>
                <md-checkbox>Obsluga tylko firm</md-checkbox>
                <md-checkbox>Wymagaj akceptacji zmian danych klienta</md-checkbox>
                <md-checkbox #blockLoginClient>Wstrzymaj mozliwosc logowania klientow</md-checkbox>
                <md-input-container *ngIf="blockLoginClient.checked">
                    <input mdInput placeholder="Komunikat dla klientow przy wstrzymanej mozliwosci logowania" type="text" name="message_login_block_client" value="hero">
                </md-input-container>
            </div>
            <div class="clients-configuration-actions a-configuration-actions">
                    <button class="save-btn" md-raised-button>Zapisz</button>
            </div> 
        </form>
    </md-card>
</div>