<div class="payments-list-cmpt">
<md-grid-list cols="1" rowHeight="1:1">
    <md-card class="card-table-wrapper">
      <h4 style="display: inline-block;"><i class="material-icons">monetization_on</i>{{ 'Payments' | translate }}</h4>
        <table class="mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'trade_credit_current_state' | translate }}</th>
                    <th>{{ 'trade_credit_current_state' | translate }}</th>
                    <th>{{ 'count_of_documents' | translate }}</th>
                    <th>{{ 'used_amount_of_credit' | translate }}</th>
                    <th>{{ 'maximum_delay' | translate }}</th>
                    <th>{{ 'payment_date' | translate }}</th>
                    <th>{{ 'days_of_delay' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NIE <span class="data-property">{{ 'trade_credit_current_state' | translate }}</span></td>
                    <td>TAK <span class="data-property">{{ 'trade_credit_current_state' | translate }}</span></td>
                    <td>0/0 <span class="data-property">{{ 'count_of_documents' | translate }}</span></td>
                    <td>0,00 zł / 0,00 zł <span class="data-property">{{ 'used_amount_of_credit' | translate }}</span></td>
                    <td>0 / 0 <span class="data-property">{{ 'maximum_delay' | translate }}</span></td>
                    <td>0 dni <span class="data-property">{{ 'payment_date' | translate }}</span></td>
                    <td>0 <span class="data-property">{{ 'days_of_delay' | translate }}</span></td>
                </tr>
            </tbody>
        </table>
        <table class="mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'document_no' | translate }}</th>
                    <th>{{ 'paid' | translate }}</th>
                    <th>{{ 'issue_date' | translate }}</th>
                    <th>{{ 'payment_date' | translate }}</th>
                    <th>{{ 'due' | translate }}</th>
                    <th>{{ 'obligation' | translate }}</th>
                    <th>{{ 'days_of_delay' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1<span class="data-property">{{ 'document_no' | translate }}</span></td>
                    <td>TAK<span class="data-property">{{ 'paid' | translate }}</span></td>
                    <td>01.01.2017<span class="data-property">{{ 'issue_date' | translate }}</span></td>
                    <td>01.01.2017<span class="data-property">{{ 'payment_date' | translate }}</span></td>
                    <td>20.000 zl<span class="data-property">{{ 'due' | translate }}</span></td>
                    <td>-<span class="data-property">{{ 'obligation' | translate }}</span></td>
                    <td>0<span class="data-property">{{ 'days_of_delay' | translate }}</span></td>
                </tr>
            </tbody>
        </table>
    </md-card>
</md-grid-list>
</div>