<div class="mdl-layout">
<md-toolbar>
  <div *ngIf="!canActivateLinks()">
    <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="!canActivateLinks()">
      <md-icon>more_vert</md-icon> <span style="font-weight: bold;">{{ 'offert' | translate }}</span>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>CATCH</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>ME</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>IF</span>
      </button>
        <button md-menu-item>
      <md-icon>dialpad</md-icon>
        <span>YOU</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>CAN</span>
      </button>
    </md-menu>
  </div>
      <!--<a md-button *ngIf="canActivateLinks()" (click)="hideMenu()" class="mdl-navigation__link" mdTooltip="pokaz/ukryj menu"><i class="material-icons">toc</i></a>-->
  <md-list>
    <md-list-item *ngIf="canActivateLinks()" class="check-click-btn"> 
      <a [routerLink]="['admin/dashboard']"><i class="material-icons" mdTooltip="{{ 'settings' | translate}}" style="margin-top: 12px;">settings</i></a>
    </md-list-item>
    <md-list-item>
      <fill-color></fill-color>
    </md-list-item>
      <md-list-item *ngIf="canActivateLinks()" class="hide-mobile">
        <md-select placeholder="Role">
          <md-option *ngFor="let role of roles" [value]="role.value">
            {{role.viewValue}}
          </md-option>
        </md-select>
      </md-list-item>
      <md-list-item *ngIf="canActivateLinks()">
        <cart-items></cart-items>
      </md-list-item>
  <md-list-item *ngIf="canActivateLinks()">
    <a md-button routerLink="customer/news" mdTooltip="{{ 'news' | translate }}" class="mdl-navigation__link news_link">
      <i class="material-icons">mail_outline</i>
      <span class="news_unread_count">1</span>
    </a>
  </md-list-item>
    <!--<md-list-item class="check-click-btn"> 
      <a routerLink="/check-list"><i class="material-icons" style="margin-top: 12px;">check_circle</i></a>
    </md-list-item>-->
    <!--<md-list-item *ngIf="!canActivateLinks()"> 
      <a routerLink="/home"><img src="assets/images/mercatum_logo.png" width="40" height="40" alt="mercatum-logo"></a>
    </md-list-item>-->
    <md-list-item *ngIf="canActivateLinks()"> 
      <a routerLink="/customer/dashboard"><i class="material-icons" style="margin-top: 12px;">home</i></a>
    </md-list-item>
    <md-list-item *ngIf="!canActivateLinks()">
        <a md-button routerLink="/login" class="mdl-navigation__link">{{ 'login' | translate }}</a>
    </md-list-item>
    <md-list-item *ngIf="canActivateLinks()">
        <a md-button (click)="logout()" class="mdl-navigation__link"><i class="material-icons" mdTooltip="{{ 'logout' | translate }}">power_settings_new</i></a>
    </md-list-item>
  </md-list>
</md-toolbar>
<router-outlet name="sidebar"></router-outlet>
<!--
<div id="side-menu" [ngClass]="{'hide-menu': toggleMenu === false}" #sideMenu *ngIf="canActivateLinks()">
  <md-list>
    <md-list-item>
        <a routerLink="/dashboard" class="mdl-navigation__link"> <i class="material-icons">dashboard</i> Pulpit</a>
    </md-list-item>
    <md-list-item>
        <a routerLink="customer/clients-list" class="mdl-navigation__link"><i class="material-icons">people</i> Klienci</a>
    </md-list-item>
    <md-list-item>
        <a routerLink="/products-list" class="mdl-navigation__link"><i class="material-icons">collections_bookmark</i> Produkty</a>
    </md-list-item>
    <md-list-item>
        <a [routerLink]="['customer/payments']" class="mdl-navigation__link"><i class="material-icons">monetization_on</i> Platnosci</a>
    </md-list-item>
    <md-list-item>
        <a routerLink="/complaints" class="mdl-navigation__link"><i class="material-icons">autorenew</i> Reklamacje</a>
    </md-list-item>
    <md-list-item>
        <a routerLink="/orders-history" class="mdl-navigation__link"><i class="material-icons">history</i> Zamowienia</a>
    </md-list-item>
    <md-list-item>
        <a routerLink="/documents" class="mdl-navigation__link"><i class="material-icons">folder_open</i> Dokumenty</a>
    </md-list-item>
    <md-list-item>
        <a routerLink="/offers-list" class="mdl-navigation__link"><i class="material-icons">insert_drive_file</i> Oferty</a>
    </md-list-item>
    <md-list-item>
        <a [mdMenuTriggerFor]="priceList" class="price-list-link">
          <i class="material-icons">print</i> Cennik
        </a>
        <md-menu #priceList="mdMenu">
        <button md-menu-item> HTML </button>
        <button md-menu-item> XML </button>
      </md-menu>
    </md-list-item>
  </md-list>
</div>-->

<main [ngClass]="{'active': canActivateLinks(), 'hide-menu': toggleMenu }">
      <router-outlet></router-outlet> 
      <!--<h2 style="text-align: center; text-transform: uppercase; font-size: 42px; margin-top: 75px;">all works! #YOLO</h2>  -->
</main>
</div>

 <footer class="mdl-mega-footer">
  <div class="about-info">
    <a href="https://mjprogramming.pl" target="_blank">{{ 'contact' | translate }}</a>
    <!-- <img src="assets/images/mercatum_logo.png" width="40" height="40" alt="mercatum-logo"> -->
   </div>
   <div class="copyright-info">
      <p>Copyright © 2017</p>
   </div>
</footer>