<div class="modify_client_cmpt">
     <div class="client_personal_info">
    <md-card>
        <!--<h4 style="display: inline-block;"><i class="material-icons">person</i>{{ 'clients' | translate }}</h4>-->
        <h4> {{ 'personal_info' | translate }}</h4>
        <md-input-container>
            <input mdInput placeholder="Email" type="text" name="email" #email [(ngModel)]="client.email" required>
            <md-error>{{ 'email_required' | translate }}</md-error>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="{{ 'name' | translate }}" type="text" name="name" #name [(ngModel)]="client.name" required>
            <md-error>{{ 'name' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'firstName' | translate }}" type="text" name="firstName" #firstName [(ngModel)]="client.firstName" required>
            <md-error>{{ 'firstName' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'lastName' | translate }}" type="text" name="lastName" #lastName [(ngModel)]="client.lastName" required>
            <md-error>{{ 'lastName' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'symbol' | translate }}" type="text" name="symbol" #symbol [(ngModel)]="client.symbol" required>
            <md-error>{{ 'symbol' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'phone' | translate }}" type="text" name="phone" #phone [(ngModel)]="client.phone" required>
            <md-error>{{ 'phone' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'phone2' | translate }}" type="text" name="phone2" #phone2 [(ngModel)]="client.phone2" required>
            <md-error>{{ 'phone2' | translate }}</md-error>
        </md-input-container> 
      </md-card>
     </div>
     <div class="client_company_info">
    <md-card>
        <h4>{{ 'company_info' | translate }}</h4>
        <md-input-container>
            <input mdInput placeholder="{{ 'company_name' | translate }}" type="text" name="companyName" #cName [(ngModel)]="client.companyName" required>
            <md-error>{{ 'company_name_required' | translate }}</md-error>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="{{ 'address' | translate }}" type="text" name="address" #cAddress [(ngModel)]="client.address" required>
            <md-error>{{ 'address' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'company_postal_code' | translate }}" type="text" name="postCode" #cPostCode [(ngModel)]="client.postCode" required>
            <md-error>{{ 'postCode' | translate }}</md-error>
        </md-input-container>  
        <md-select placeholder="City">
            <md-option *ngFor="let city of cities" [value]="city.value">
                {{ city.viewValue }}
            </md-option>
        </md-select>
        <div class="modify_client_actions">
            <a [routerLink]="['/customer/clients-list']" class="remove-btn" md-raised-button>{{ 'cancel' | translate }}</a>
            <button class="add-btn" type="submit" md-raised-button>{{ 'save' | translate }}</button>
        </div> 
      </md-card>
     </div>
</div>