<div class="admin-status-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">compare_arrows</i>
            <h2>Statusy zamowien</h2>
        </div>
        <div class="status-configuration-actions a-configuration-actions">
            <button class="add-btn" md-raised-button>Dodaj nowy status</button>
        </div>
        <div class="status-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Powiadomienia e-mail</th>
                        <th>Konczace zamowienia</th>
                        <th><th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Przyjete do realizacji</td>
                        <td>hero</td>
                        <td>+</td>
                        <td>+</td>
                        <td class="center">
                            <md-select placeholder="Status">
                                <md-option>Anulowane</md-option>
                            </md-select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>