<!--<a md-button (click)="hideMenu()" class="mdl-navigation__link" mdTooltip="pokaz/ukryj menu"><i class="material-icons">toc</i></a>-->
<div id="side-menu">
  <md-list>
    <md-list-item>
        <a routerLink="dashboard" class="mdl-navigation__link"><i class="material-icons">dashboard</i>
            <span>{{ 'dashboard' | translate }}</span>
        </a>
    </md-list-item>
    <md-list-item>
        <a routerLink="clients-list" class="mdl-navigation__link"><i class="material-icons">people</i>
            <span>{{ 'clients' | translate }}</span>
        </a>
    </md-list-item>
    <md-list-item>
        <a routerLink="products-list" class="mdl-navigation__link"><i class="material-icons">collections_bookmark</i>
            <span>{{ 'products' | translate }}</span>
        </a>
    </md-list-item>
    <md-list-item *ngIf="settings?.show_menu_payments.value == 'on'">
        <a routerLink="payments" class="mdl-navigation__link"><i class="material-icons">monetization_on</i>
            <span>{{ 'payments' | translate }}</span>
        </a>
    </md-list-item>
    <md-list-item *ngIf="settings?.show_menu_complaints.value == 'on'">
        <a routerLink="complaints" class="mdl-navigation__link"><i class="material-icons">autorenew</i>
            <span>{{ 'complaints' | translate }}</span>
        </a>
    </md-list-item>
    <md-list-item>
        <a routerLink="orders-history" class="mdl-navigation__link"><i class="material-icons">history</i>
            <span>{{ 'orders' | translate }}</span>
        </a>
    </md-list-item>
    <md-list-item>
        <a routerLink="documents" class="mdl-navigation__link"><i class="material-icons">folder_open</i>
            <span>{{ 'documents' | translate }}</span>
        </a>
    </md-list-item>
    <md-list-item *ngIf="settings?.show_menu_offers.value == 'on'">
        <a routerLink="offers-list" class="mdl-navigation__link"><i class="material-icons">insert_drive_file</i>
            <span>{{ 'files' | translate }}</span>
        </a>
    </md-list-item>
    <md-list-item *ngIf="settings?.show_menu_price_list.value == 'on'">
        <a [mdMenuTriggerFor]="priceList" class="price-list-link">
          <i class="material-icons" mdTooltip="{{ 'price_list' | translate }}">print</i> 
          <span>{{ 'price_list' | translate }}</span>
        </a>
        <md-menu #priceList="mdMenu">
        <button md-menu-item> HTML </button>
        <button md-menu-item> XML </button>
      </md-menu>
    </md-list-item>
  </md-list>
</div>