<div class="change_password_client_cmpt">
    <md-card>
        <h4><i class="material-icons">lock_open</i>{{ 'change_password' | translate }}: {{client?.name}}</h4>
        <md-input-container>
            <input mdInput placeholder="{{ 'password' | translate }}" type="text" name="password" #password ngModel required>
            <md-error>{{ 'password_required' | translate }}</md-error>
        </md-input-container> 
        <div class="change_password_client_actions">
            <a [routerLink]="['/customer/clients-list']" class="remove-btn" md-raised-button>{{ 'cancel' | translate }}</a>
            <button class="add-btn" type="submit" md-raised-button>{{ 'save' | translate }}</button>
        </div> 
    </md-card>
</div>