<h4>{{ 'address' | translate }}</h4>
<i class="material-icons" mdTooltip=" {{ 'choose_from_address_list' | translate }}" (click)="chooseContact()">import_contacts</i>
<div class="order-address" #orderAddress>
    <md-input-container>
        <input mdInput placeholder="{{ 'street' | translate }}" type="text" class="order-contact-edit" name="order_street"ngModel required>
        <md-error> {{ 'street_required' | translate }}</md-error>
    </md-input-container> 
    <md-input-container>
        <input mdInput placeholder="{{ 'address_no' | translate }}" class="order-contact-edit" type="text" name="order_no"ngModel required>
        <md-error>{{ 'address_no_required' | translate }}</md-error>
    </md-input-container> 
    <md-input-container>
        <input mdInput placeholder="{{ 'address_no2' | translate }}" class="order-contact-edit" type="text" name="order_no2"ngModel required>
        <md-error>{{ 'address_no_2_required' | translate }}</md-error>
    </md-input-container> 
    <md-input-container>
        <input mdInput placeholder="{{ 'postal_code' | translate }}" class="order-contact-edit" type="text" name="order_postcode"ngModel required>
        <md-error>{{ 'postal_code_required' | translate }}</md-error>
    </md-input-container> 
    <md-input-container>
        <input mdInput placeholder="{{ 'city' | translate }}" class="order-contact-edit" type="text" name="order_city"ngModel required>
        <md-error>{{ 'city_required' | translate }}</md-error>
    </md-input-container> 
</div>
<div class="order-cmpt-actions">
    <a class="remove-btn" [routerLink]="['/customer/dashboard']" md-raised-button>{{ 'cancel' | translate }}</a>
    <a class="add-btn" (click)="finalizeOrder(orderAddress)" md-raised-button>{{ 'order_confirm' | translate }}</a>
</div>