<div class="order-contacts-list-cmpt">
<md-card>
    <h4>{{ 'contact_search' | translate }}</h4>
    <md-input-container>
        <input mdInput [mdAutocomplete]="auto" [formControl]="stateCtrl">
        <md-icon mdSuffix>search</md-icon>
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let contact of filteredStates | async" [value]="contact.name" (click)="choosenContact(contact.id)">
            {{ contact.name }}
        </md-option>
    </md-autocomplete>

    <button type="button" class="blank-btn" md-raised-button (click)="close()">{{ 'close' | translate}}</button>

</md-card>
</div>