@import './assets/sass/variables.scss';
@import './assets/sass/mixins.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// layout --start
.refresh{
     -webkit-animation: spin 2s infinite linear;
     font-size: 35px;
}

// .content-center tbody tr td{
//     text-align: center;
// }

.price-list-link{
    cursor: pointer;
}

.colors_palete{
    .color{
        height: 35px; 
        border-radius: 50%; 
        display: inline-block;
        margin: 5px;
        i{
            font-size: 42px;
            cursor: pointer;
        }
    }
    .dark, .dark:hover{background-color: #212121;}
    .space, .space:hover{background-color: #1f202f;}
    .classic, .classic:hover{background-color: #146dc5;}
}

.product-image-preview{
    width: 200px;
    cursor: zoom-in;
}

// image-preview
.image-preview-wrapper{
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    .image-holder{
        margin: 0 auto;
        position: relative;
    }
    .close{
        display: block;
        position: absolute;
        right: 0;
        top: -25px;
        color: #fff;
        right: 0;
        font-size: 25px;
        cursor: pointer;
    }
    .download{
        color: #fff;
        cursor: pointer;
        position: absolute;
        bottom: -25px;
        right: 0;
    }
    .navigate-prev{
        color: #fff;
        position: absolute;
        left: -10%;
        user-select: none;
        top: 50%;
        margin-right: 50px;
        cursor: pointer;
        font-size: 55px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .navigate-next{
        color: #fff;
        position: absolute;
        right: -10%;
        top: 50%;
        user-select: none;
        margin-left: 50px;
        cursor: pointer;
        font-size: 55px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .image-name{
        color: #fff;
        position: absolute;
        bottom: -30px;
        font-size: 14px;
    }
}

/* Add Animation */
.image-preview-wrapper, .image-holder {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

th.sort{
    cursor: pointer;
    user-select: none;
}

/*
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
*/

//layout --end

@-webkit-keyframes refresh{
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

.mdl-data-table{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    // border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    // background-color: #fff;
    width: 100%;
    thead{
        padding-bottom: 3px;
    }

    th{
        position: relative;
        vertical-align: bottom;
        text-overflow: ellipsis;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        height: 48px;
        font-size: 12px;
        // color: rgba(0,0,0,.54);
        padding-bottom: 8px;
        box-sizing: border-box;
        text-align: left;
        padding: 5px 5px;
    }
    .center{
        text-align: center;
    }

    tbody{
        tr{
            position: relative;
            height: 48px;
            transition-duration: .28s;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-property: background-color;
        }
        td{
            position: relative;
            height: 48px;
            border-top: 1px solid rgba(0,0,0,.12);
            border-bottom: 1px solid rgba(0,0,0,.12);
            padding: 12px 5px;
            box-sizing: border-box;
            vertical-align: middle;
            text-align: left;
        }
    }
    
    a{
        text-decoration: none;
        transition: all 0.5s;
    }
}

#side-menu.hide-menu{
    display: none !important;
}

//material design --start
body{
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p,span,a, th, td{
    @include ubuntu;
}

.mdl-layout{
    md-toolbar {
    .mat-list{
            position: absolute;
            display: inline-block;
            display: -webkit-inline-box;
            right: 10px;
            padding: 8px;
        }
        .news_link{
            .news_unread_count{
                width: 20px;
                height: 20px;
                background-color: #f00;
                border-radius: 50%;
                position: absolute;
                font-size: 12px;
                line-height: 20px;
                margin-top: 15px;
                margin-left: -5px;
            }
        } 
    }
}


.mdl-layout__header--transparent.mdl-layout__header--transparent,
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab{
    color: $white;
}

.mdl-layout__drawer.side-nav{
    border: none;
    background-color: $white;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
    .mdl-navigation{
        .mdl-navigation__link{
            // color: $black;
            text-transform: uppercase;
        }
    }
    i{
        margin-right: 8px;
    }
}
.mdl-layout__header{
//    background-color: $white;
}

.mdl-layout__header-row{
    .mdl-navigation__link{
        // color: $black;
    }
}

.mdl-layout__drawer-button i,
.mdl-layout__header-row > span{
    // color: $black;
}

button[disabled]{
    cursor: not-allowed !important;
}

.mat-dialog-container{
      padding: 0 !important;
  }

//content --start
main{
    padding: 20px;
    // background-color: $white;
    min-height: 799px;
}

@media(min-width: 480px){
    main.hide-menu{
        margin-left: 78px;
    }
}

#side-menu{
    display: inline-block;
    min-height: 600px;
    position: absolute;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
    .mat-list .mat-list-item{
        padding: 10px 0px;
        // border-bottom: 1px solid #ccc;
        a{
            // color: #000;
            text-decoration: none;
            text-align: center;
            margin: 0 auto;
            span{
                display: block;
                font-size: 12px;
            }
        }
    }
    .mat-list .mat-list-item:last-child{
        border-bottom: none;
    }
}

@media(max-width: 769px){
    #side-menu{
        .mat-list .mat-list-item{
        padding: 5px 3px;
        // border-bottom: 1px solid #ccc;
        a{
            // color: #000;
            text-decoration: none;
            text-align: center;
            margin: 0 auto;
            i{
                font-size: 20px;
            }
            span{
                display: block;
                font-size: 10px;
            }
        }
    }
    }
}



// home component --start
.home-cmpt {
    .home-header{
        text-align: center;
        font-size: 60px;
        margin-top: 80px;
        p{
            font-size: 60px;
        }
    }
}

//login-component --start
.login-cmpt{
    .mat-card{
        width: 23%; 
        margin: 0 auto;
        padding: 50px 30px;
    }
    .mat-input-container{
        width: 100%;
    }
    .login-actions{
        margin-top: 40px;
        .account-remender-link{
            font-size: 13px;
            text-decoration: none;
            // color: #000;
        }
        button{
            float: right;
        }
    }
    .additional-links{
        width: 25%; 
        margin: 0 auto;
        margin-top: 10px;
        a{
            font-size: 13px;
            text-decoration: none;
            // color: #000;
            float: right;
            margin-top: 15px;
        }
    }
    .border-shadow{
        @include border-shadow;
        // background-color: $white;
    }
    h4{
        font-size: 36px;
    }
    .languages{
        float: left;
        a{
            margin-left: 5px;
            cursor: pointer;
        }
    }
}
//login-component --end

//register-component --start
.register-cmpt{
    @include display_flex;
    >div{
        width: 100%;
    }
    .mat-card{
        md-input-container{
            width: 100%;
            display: block;
        }
        .conditions{
            padding-top: 10px;
            margin-top: 25px;;
        }
        .register-actions{
            padding: 20px 0;
            button{
                float: right;
            }
        }
    }
}

@media(max-width: 769px){
    .register-cmpt{
        display: -webkit-block;
        display: block;
    }
}



// footer --start
.mdl-mega-footer{
    // background-color: #1d272b;
    // color: $white;
    width: 100%;
    position: absolute;
    background-color: #212121;
    text-align: center;
    color: #fff;
    .copyright-info{
        p{
            font-size: 10px;
            color: #ccc;
        }
    }
    .about-info{
        text-align: right;
        margin-right: 50px;
        margin-top: 15px;
        a{
            color: #ccc;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}

//dialog cmpt--start
.dialog-message-cmpt{
    .type{
        padding: 40px;
        min-height: 100px;
        text-align: center;
        min-width: 400px;
        color: $white;
    }
    .material-icons{
        font-size: 35px;
    }
    @include status_colors;
}
//dialog cmpt--end

//dialog-confirm --start
.dialog_confirm_wrapper{
    padding: 40px;
}

//products-list cmpt--start
.products-list-cmpt {
    .cart-btn{
        margin-left: 15px;
    }
    .pagination{
        text-align: right;
        width: 79%;
        display: inline-block;
        li{
            list-style: none;
            display: inline-block;
            cursor: pointer;
            padding: 8px;
            a{
                padding: 8px;
            }
        } 
    }
} 


//product-status msg --start
.product-status-msg{
        position: absolute;
        border: 0;
        bottom: 100px;
        right: 25px;
        color: #fff; 
        -webkit-transition: opacity 3s ease-in-out;
        -moz-transition: opacity 3s ease-in-out;
        -ms-transition: opacity 3s ease-in-out;
        -o-transition: opacity 3s ease-in-out;
        opacity: 1;
        .type{
            padding: 20px;
            box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
        }
        @include status_colors;
}


.hide{
    display: none;
}

//cart-list-cmpt --start
.cart-list-cmpt{
    .actions{
        text-align: right;
        margin-top: 10px;
    }
    .clear-cart-btn i{
        color: #fff;
    }
}

//cart-items --start
.cart-items-wrapper{
    position: relative;
    z-index: 250;
}

#cart-items{
    position: absolute;
    left: -170px;
    padding: 10px;
    // background-color: $white;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
    li{
        list-style: none;
        max-width: 255px;
        white-space: initial;
        padding: 10px 0;
        font-size: 14px;
    }
    .cart-info{
        text-align: center;
    }
    .cart-product-link{
        transition: all 0.5s;
    }
    .cart_product_qty{
        color: #fff;
        border-radius: 50%;
        padding: 5px;
        font-size: 12px;
        width: 20px;
        height: 20px;
        background-color: #146dc5;
        border-radius: 50%;
        line-height: 20px;
        margin-top: 15px;
    }
}

@media(max-width: 769px){
    #cart-items{
        left: -30px;
    }
}

@media(min-width: 769px){
    #cart-items.empty{
        left: -100px;
    }
}

//clients-list-cmpt --start
.clients-list-cmpt{
    .client_blocked{
        background-color: #ccc;
    }
}
//clients-list-cmpt --end

//modify_client_cmpt --start
.modify_client_cmpt{
    @include display_flex;
    >div{
        width: 100%;
    }
    .mat-card {
        md-input-container{
            width: 100%;
            display: block;
        }   
    }
    .modify_client_actions{
        margin-top: 20px;
    }
}

@media(max-width: 769px){
    .modify_client_cmpt{
        display: -webkit-block;
        display: block;
    }
}

//change_password_client_cmpt -- start
.change_password_client_cmpt{
    .mat-card {
        md-input-container{
            width: 100%;
            display: block;
        }   
    }
    .change_password_client_actions{
        margin-top: 20px;
    }
}

//product-details-cmpt --start
.product-details-cmpt{
    .product-details-wrapper{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        >div{
            width: 100%;
        }
        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
    .info{
        margin-left: 50px;
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: 10px 0;
                font-weight: bold;
                span{
                    font-weight: normal;
                }
            }
        }
        .product-details-actions{
            .mat-input-container{
                width: 50%;
            }
        }
        .round-table{
            width: 15%;
            margin-top: 10px;
        }
    }
}

@media(max-width: 769px){
  .product-details-cmpt{
    .product-details-wrapper{
        display: block;
        >div{
            width: 100%;
            display: block;
        }
    }
}  
}


//product-details-cmpt --end

.settings-cmpt{
    .mat-card{
        margin: 20px;
    }
    .single-set{
        md-input-container{
            margin-left: 20px;
        }
        .description{
            cursor: help;
        }
        .group{
            position: absolute;
            right: 0;
            text-transform: uppercase;
            right: 10px;
            bottom: 10px;
            font-size: 12px;
        }
    }
    .save-btn{
        margin: 20px;
    }
    .hide{
        display: none;
    }
}

//order-contacts-list-cmpt
.order-contacts-list-cmpt{

}


/* mobile styles, @media queries */

@media(max-width: 1024px){
    .login-cmpt{
        .mat-card{
            width: 90%;
        }
        h4{
            font-size: 26px;
        }
    }
}

@media(max-width: 769px){
    .check-click-btn{
        display: none !important;
    }
    .mat-list .mat-list-item{
        padding: 0px;
        .mat-list-item-content{
            padding: 0 !important;
        }
    }
    .hide-mobile{
        display: none !important;
    }
    md-list-item.show-mobile{
        display: block;
    }
}


/* admin */

//admin-dashboard-cmpt --start
.admin-dashboard-cmpt{
    margin-left: -78px;
    div{
        a.disabled{
            cursor: not-allowed;
        }
        md-card{
                width: 8%;
                display: inline-block;
                text-align: center;
                margin-top: 5px;
                i{
                    transition: all 0.5s;
                    font-size: 38px;
                }
                h6{
                    margin-top: 10px;
                }
            }
    }
}

//products-list cmpt--start
.admin_products_sale_cmpt {
    .pagination{
        text-align: right;
        width: 79%;
        display: inline-block;
        li{
            list-style: none;
            display: inline-block;
            cursor: pointer;
            padding: 8px;
            a{
                padding: 8px;
            }
        } 
    }
} 

//admin-general-configuration-cmpt --start
.a-configuration, .a-tools, .a-sale,
.a-content-management{
    margin-left: -75px;
    .title{
        h2{
            display: inline-block;
        }
        i{
            font-size: 28px;
            margin-right: 5px;
        }
    }
    md-input-container:not(.search_wrapper){
        display: block;
    }
    md-checkbox{
        display: block;
        margin: 10px 0;
    }
}

//action buttons:
.edit-btn{
    background-color: #146dc5;
}
.remove-btn{
    background-color: #e23237;
}
.blank-btn{
    color: #000;
}

/* admin mobile styles, admin @media queries */

@media(max-width: 720px){
    .admin-dashboard-cmpt{
        div{
            md-card{
                    width: 30%;
                }
        }
        .mat-tab-body-content{
            text-align: center;
        }
    }
}

@media(max-width: 480px){
    main{
        margin-left: 40px;
    }
    .admin-dashboard-cmpt{
        h2{
            font-size: 18px;
            text-align: center;
        }
        div{
            md-card{
                    width: 50%;
                }
        }
    }
}

snack-bar-container {
    &.errorSnackBar, &.successSnackBar {
        height: auto; 
        min-width: initial;
    }

    &.success {
        background: $success;
    }   
 
    &.info {        
        background: $info
    }

    &.warning {        
        background: $warning;
    }

    &.alert {        
        background: $alert;
    }
 
    .mat-simple-snackbar .mat-simple-snackbar-message {
        white-space: normal; 
        font-size: 16px;
        font-weight: bold;
    }
}

@media(max-width: 769px){
    .mdl-data-table{
        th{
            display: none;
        }
        tr{
            margin-top: 20px;
            display: inline;
        }
        tbody,td{
            display:block;
        }
        tbody{
            td{
                .mat-input-container{
                    widows: 100%;
                }
            }
            td.actions{
                margin-bottom: 20px;
            }
        }
        .data-property{
            text-transform: uppercase;
            position: absolute;
            right: 0;
            border: 0;
            bottom: 0;
            bottom: 5px;
            color: #ccc;
            font-size: 12px;
            margin-right: 5px;
        }
    }
}

@media(min-width: 769px){
    .mdl-data-table{
        .data-property{
            display: none;
        }
    }
}

//order-cmpt --start
.order-cmpt{
    .shipping, .payments{
        display: inline-block;
        padding: 5px;
        md-radio-button{
            display: block;
            padding: 3px;
        }
    }
    md-input-container{
            width: 100%;
            display: block;
        }
    .order-notes{
        width: 100%;
        md-icon{
            cursor: pointer;
        }
    }
    .shipping-payments-wrapper{
        @include display_flex;
        md-card{
            width: 50%;
        }
        md-card:last-child{
            h4{
                display: inline-block;
            }
            i{
                cursor: pointer;
            }
        }
    }
    .order-cmpt-actions{
        float: right;
    }
    .order_finalize_info{
        font-size: 12px;
        color: #000;
    }
}

@media(max-width: 769px){
    .order-cmpt{
        .shipping-payments-wrapper{
            display: -webkit-block;
            display: block;
            md-card{
                width: auto;
                display: block;
            }
            md-card:last-child{
                padding-bottom: 100px;
            }
        }
        .mat-radio-label-content{
            font-size: 12px;
            white-space: pre-wrap;
        }
        .order-cmpt-actions{
            float: right;
            text-align: right;
            button{
                margin-top: 10px;
            }
        }
    }
}
//order cmpt --end

//order-confirm --start
.order-confirm-cmpt{
    text-align: center;
    .shopping_basket{
        font-size: 120px;
    }
}

//news_cmpt --start
.news_cmpt{
    .news_unread{
        background-color: #ec9494;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
}
//news_cmpt --end

#carousel{
    .banner-holder{
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        img{
            max-width: 1000px;
            max-height: 300px;
            width: 100%;
            height: 100%;
        }
        .banner-text{
            margin: 0;
            background-color: #212121;
            color: #fff;
            padding: 10px;
            margin-top: -5px;
            font-size: 14px;
        }
    }
    .bottom-navigation{
        text-align: center;
        span{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #000;
            margin: 5px;
            display: inline-block;
            cursor: pointer;
        }
        .banner-active{
            background-color: #000;
        }
    }
}