/* You can add global styles to this file, and also import other style files */

h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: 'Ubuntu', sans-serif;
}

.mdl-layout__header--transparent.mdl-layout__header--transparent,
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab{
        /*background-color: #424242;*/
        
        color: #fff;
}

main{
    padding: 20px;
    background-color: #f3f3f3;
    min-height: 600px;
}

.mdl-layout__drawer.side-nav{
    /*background-color: #1976D2;
    /*background: linear-gradient(145deg,#0D47A1,#42A5F5);
    background: -webkit-linear-gradient(30deg, #0b2246, #2176bb);
    background: -moz-linear-gradient(30deg, #0b2246, #2176bb);
    background: -o-linear-gradient(30deg, #0b2246, #2176bb);
    background: linear-gradient(120deg, #0b2246, #2176bb);
    */
    border: none;
    background-color: #fff;
}

.mdl-layout__drawer.side-nav i{
    margin-right: 8px;
}

.mdl-layout__header{
    /*
    background: -webkit-linear-gradient(260deg, #0b2246, #2176bb);
    background: -moz-linear-gradient(260deg, #0b2246, #2176bb);
    background: -o-linear-gradient(260deg, #0b2246, #2176bb);
    background: linear-gradient(350deg, #0b2246, #2176bb);
    */
    background-color: #fff;
}

.mdl-layout__header-row .mdl-navigation__link{
    color: #000;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    color: #000;
    text-transform: uppercase;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover{
    /*background-color: #0a2c4e;*/
}

.mdl-layout__drawer.side-nav{
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
}

.mdl-mega-footer{
    background-color: #1d272b;
    color: #fff;
    width: 100%;
    bottom: 0;
}

div.mdl-layout__drawer-button i,
div.mdl-layout__header-row > span{
    color: #000;
}

.fill-panel{
    background-color: #fff;
}

/*login*/
.login-cmpt h4{
    font-size: 36px;
}


/*home*/
.home-cmpt .home-header{
    text-align: center;
    font-size: 60px;
    margin-top: 80px;
}

.home-cmpt .home-header P{
    font-size: 60px;
}

.home-cmpt .border-shadow{
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
