<div class="admin_products_sale_cmpt a-sale">
<md-grid-list cols="1" rowHeight="1:1">
    <md-card>
      <h4 style="display: inline-block;"><i class="material-icons">collections_bookmark</i>Produkty</h4>
      <div>
      <md-input-container class="search_wrapper">
        <!--<input mdInput placeholder="Szukaj..." type="search" name="search" #search [(ngModel)]="searchString">-->
        <!--<input mdInput placeholder="Szukaj..." type="search" name="search" #search (keyup)="filterTable($event.target.value)">-->
          <input type="text" placeholder="szukaj..." (keyup)="searchListener(search.value, $event.keyCode)" mdInput #search>
          <md-icon mdSuffix style="cursor: pointer;" (click)="filterTable(search.value)">search</md-icon>
      </md-input-container>  
      <ul class="pagination">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
      </ul>
      </div>
<table class="mdl-data-table">
  <thead>
    <tr>
      <th>Zdjecie</th>
      <th>Symbol</th>
      <th>Nazwa produktu</th>
      <th>Cena netto</th>
      <th>Cena brutto</th>
      <th class="center"><i class="material-icons">details</i></th>
    </tr>
  </thead>
  <tbody>
    <tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products" #productRow>
    <!--<tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products; trackBy">-->
      <td><img src="../../../assets/images/angular_logo.png" class="product-image-preview-h" width="100" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">zdjecie</span></td>
      <td>{{product.symbol}}<span class="data-property">symbol</span></td>
      <td class="product-name"><a [routerLink]="['/customer/product', product.productID]" mdTooltip="moze opis skrocony tutaj?">{{product.name}}</a><span class="data-property">nazwa produktu</span></td>
      <td class="product-price-netto">{{product.priceNetto}} zł<span class="data-property">cena netto</span></td>
      <td class="product-price-brutto">{{product.priceBrutto}} zł<span class="data-property">cena brutto</span></td>
      <td class="center actions">
        <button [ngClass]="product.sale ? 'add-btn' : 'blank-btn'" (click)="changeProductStatus(product.productID, 'sale')" md-raised-button>Wyprzedaź</button>
        <button [ngClass]="product.promo ? 'success-btn' : 'blank-btn'" (click)="changeProductStatus(product.productID, 'promo')" md-raised-button>Promowany</button>
        <button [ngClass]="product.pnew ? 'success-btn' : 'blank-btn'" (click)="changeProductStatus(product.productID, 'new')" md-raised-button>Nowosc</button>
        <span class="data-property"><i class="material-icons">details</i></span>
      </td>
    </tr>
  </tbody>
</table>
</md-card>
</md-grid-list> 
</div>